
.bar {
  flex: 0 1 100%;
  display: flex;
  position: relative;
  height: 18px;
  overflow: hidden;
  user-select: none;
}

.memory {
  flex: 1 1 0;
  font-size: 12px;
  font-family: "consolas";
}

.division {
  position: absolute;
  top: 1px;
  width: 1px;
  height: 16px;
  background-color: #fff;
  opacity: 0.3;
}
