.container {
  display: flex;
  justify-content: center;
}

.list {
  flex: 0 1 600px;
}

.scaleRow {
  height: 20px;
  margin: 1px;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.row {
  height: 12px;
  margin: 1px;
  display: flex;
}

.date {
  flex: 0 0 100px;
  font-size: 12px;
  font-family: "consolas";
  text-align: left;
}

.bar {
  flex: 0 1 100%;
  position: relative;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.barItem {
  position: absolute;
  height: 10px;
  background: #0e8356;
  border-radius: 5px;
}

.division {
  position: absolute;
  top: 1px;
  width: 1px;
  height: 8px;
  background-color: #fff;
  opacity: 0.3;
}
