.selector > div {
  display: inline-block;
  margin: 0 4px;
  padding: 3px 13px;
  background: #e9e9cb;
  color: #505030;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
}

.selector > div:hover {
  background: #75f8ab;
  color: #134428;
}

.selector > div.selected {
  background: #75f8ab;
  color: #134428;
}
