.app {
  text-align: center;
  background: #ffe;
  min-height: 100vh;
  font-size: 1.2rem;
}

.app > header {
  padding-top: 20px;
}

.title {
  margin: 0;
  font-weight: bold;
  background: #4285f4;
  background: linear-gradient(to right,#d1f01f 1%,#11fdf1 100%);
  background-clip: text;
  color: transparent;
}

.subtitle {
  color: #00b46f;
}

.avatar {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  margin: 0 auto;
}

.signinButton {
  margin: 20px;
  display: inline-block;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.5em;
  cursor: pointer;
}

.signinButton:hover {
  background-color: #357ae8;
}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 0.8em;
}

footer > a {
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}
